body{
  background:linear-gradient(#141e30, #243b55) ;
  font-family: sans-serif;
}
html{
  height: 100%;
}
#logo{
  text-align: center;
  background-color: #a92525;
    border: 1px solid #a92525;
    border-radius: 5px;
    padding: 12px;
    font-size: 30px;
    color: white;
}
.container{
  background: rgba(143, 143, 143, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 400px;
  margin: 120px auto;
  padding: 20px 10px 10px 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
.login h1{
  color: #fff;
  font-size: 24px;
}
form label{
  margin-left: 40px;
  color: #fff;
  font-size: 14px;
}
form i {
  margin-right: 20px;

}
form input{
  margin-bottom: 20px ;
  width: 80%;
  border: 1px solid #000000;

}
.show_password{
  width: 100%;
  height: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
}
label.show_password{
  margin-left: 15px;
}
.show_password input{
  width: 30%;
  height: 18px;
  margin: 0;
}
.login-btn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff; 
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: .5s;
  margin-top: 30px;
  margin-left: 30px;
  letter-spacing: 4px;
  border: none;
  background: none;
  cursor: pointer;
  
}

.login-btn:hover {
  background: #03e9f4;
  color: #fffdfd;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-btn span {
  position: absolute;
  display: block;
}

.login-btn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-btn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-btn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-btn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}