* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    background-color: #a0a0a0;
    margin: 0 ;
   
}

.navtop {
    background-color: #fefefe;
    height: 60px;
    width: 100%;
    border: 0;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
  
}
.navtop div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-between;
    border: 1px solid rgb(219, 219, 219);
}
.navtop div h1, .navtop div a {
    display: inline-flex;
    align-items: center;
    
}
.navtop div h1 {
    flex: 1;
    font-size: 26px;
    padding: 0;
    margin: 0 0 0 60px;
    color: #fc0000;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.navtop div a {
    text-decoration: none;
    color: #303030;
    font-weight: bold;
    text-transform: capitalize;
    font-size: 16px;
}
.navtop-div-textname-admin{
    flex: 1;
    align-items: center;
    padding: 0 200px;
}
.navtop-div-textname-dangxuat{
    padding-right: 10px;
}
.navtop div a i {
    padding: 0 5px;
}
.navtop div a:hover {
    color: #7a7a7a;
}
.content {
    width: 85%;
    height: 100%;
    margin-left: 228px;
    margin-top: 60px;
    padding: 20px 30px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    background-color: #F2F4F4;
}
.content-create{
    text-align: center;
}

.content h2 {
    margin: 0;
    padding: 25px 0;
    font-size: 22px;
    border-bottom: 1px solid #ebebeb;
    color: #666666;
}
.read .create-contact {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 0;
}
.read .create-contact:hover {
    background-color: #32a367;
    box-shadow: 0 0 5px #00ff3c,
    0 0 25px #00ff3c,
    0 0 50px #00ff3c,
    0 0 100px #00ff3c;
}
.read .pagination {
    display: flex;
    justify-content: flex-end;
}
.read .pagination a {
    display: inline-block;
    text-decoration: none;
    background-color: #a5a7a9;
    font-weight: bold;
    color: #FFFFFF;
    padding: 5px 10px;
    margin: 15px 0 15px 5px;
}
.read .pagination a:hover {
    background-color: #999b9d;
}

.read table {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    border-collapse: collapse;
    border: 1px solid rgb(219, 219, 219);
}

.read table thead {
    background-color: #ffffff;
    border-bottom: 1px solid #d3dae0;
}
.read table thead td {
    padding: 10px;
    font-weight: bold;
    color: #767779;
    font-size: 14px;
    
}
.read table tbody tr {
    background-color: #ffffff;
    border-bottom: 1px solid #bcbcbc;
}
.read table tbody tr:nth-child(even) {
    background-color: #ffffff;
}
.read table tbody tr:hover {
    background-color: #7F8C8D ;
    transition: background-color 0.8s ease;
}
.read table tbody tr:hover td {
    color: #FFFFFF;
    transition: background-color 0.8s ease;
}
.read table tbody tr:hover td:nth-child(1) {
    color: #FFFFFF;
     transition: background-color 0.8s ease;
}
.read table tbody tr td {
    padding: 10px;
}
.read table tbody tr td:nth-child(1) {
    color: #a5a7a9;
}
.read table tbody tr td.actions {
    padding: 8px;
    text-align: right;
}
.read table tbody tr td.actions .edit, .read table tbody tr td.actions .trash, .read table tbody tr td.actions .detail {
    display: inline-flex;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 12px;
}
.read table tbody tr td.actions .trash {
    background-color: #b73737;
}
.read table tbody tr td.actions .trash:hover {
    background-color: #a33131;
}
.read table tbody tr td.actions .edit {
    background-color: #37afb7;
}
.read table tbody tr td.actions .edit:hover {
    background-color: #319ca3;
}
.read table tbody tr td.actions .detail {
    background-color: violet;
}
.read table tbody tr td.actions .detail:hover {
    background-color: thistle;
}
.update form {
    padding: 15px 0;
    display: flex;
    flex-flow: wrap;
}
.update form label {
    display: inline-flex;
    width: 400px;
    padding: 10px 0;
    margin-right: 25px;
}
.update form input {
    padding: 10px;
    width: 400px;
    margin-right: 25px;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}
.update form input[type="submit"] {
    display: block;
    background-color: #38b673;
    border: 0;
    font-weight: bold;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    width: 200px;
  margin-top: 15px;
}
.update form input[type="submit"]:hover {
    background-color: #32a367;
}
.delete .yesno {
    display: flex;
}
.delete .yesno a {
    display: inline-block;
    text-decoration: none;
    background-color: #38b673;
    font-weight: bold;
    color: #FFFFFF;
    padding: 10px 15px;
    margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
    background-color: #32a367;
}
.sidebar{
    position: fixed;
    top: 59px;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 215px;
    z-index: 200;
    background-color:  #273746   ;
    border: 1px solid #acacac;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.sidebar div a{
    width: 100%;
    text-decoration: none;
    color: #F0F3F4;
    font-size: 16px;
    text-align: center;
}

.sidebar div{
    margin:10px 0px ;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.sidebar div:hover{
    background-color: #1C2833;
}

.form_edit , .form_detail ,.form_create {
    width: 90%;
    margin: 0 150px;
}
.title_edit , .title_detail , .title_create{
    margin-top: 20px;
}

.custom-container.container_dashboard {
    margin-left: 190px;
    background-color: #E5E8E8;
    padding-top: 20px;
    width: 100%; 
    height: 100%;
   
  }
 
  .custom-container.container_dashboard h4{
    font-size: 18px;
  }
.row.form_profie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.border-animation {
    border: 2px solid transparent; 
    border-radius: 50%; 
    animation: borderWave 2s infinite; 
    box-shadow: 0 0 20px #00fffb; 
}



@keyframes borderWave {
    0% {
        border-color: transparent;
        transform: scale(1);
    }
    50% {
        border-color: #00fffb; 
        transform: scale(1.1); 
    }
    100% {
        border-color: transparent; 
        transform: scale(1);
    }
}


@media only screen  and (max-width : 1360px) {
    .content {
        width: 90%;
        height: 100%;
        margin-left: 134px;
        margin-top: 60px;
        padding: 0 15px;
        box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.2);
        
    }
    .sidebar{
        width: 130px;
        
    }
    .read table {
        width: 100%;
      
    }
    
    .custom-container.container_dashboard {
        padding-top: 20px;
        width:100%; 
        margin-left: 130px;
        background-color: rgb(242, 244, 244);

      }
}
@media only screen  and (max-width : 1210px) {
    .content {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        margin-top: 200px;
        padding: 0 15px;
        box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.2);
    }
    .sidebar{
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 60px;
        bottom: 0;
        left: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 100%;
        height: 25%;
        z-index: 200;
        border: 1px solid #6a6a6a;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .read table {
        width: 100%;
        height: 60%;
        margin: 10px 0;
    }
   
      .form_profie{
        padding-top: 50px;
      }
      .navtop-div-textname-admin{
        flex: 1;
        align-items: center;
        padding: 0 50px;
    }
    .custom-container.container_dashboard {
        padding-top: 120px;
        width:100%; 
    background-color: rgb(242, 244, 244);
   
     }
}
@media only screen  and (max-width : 1210px){
    .sidebar{
        position: fixed;
        display: flex;
        justify-content: space-between;
        top: 60px;
        bottom: 0;
        left: 0;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
        width: 100%;
        height: 35%;
        z-index: 200;
        border: 1px solid #6a6a6a;
        display: inline-flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}
  